{
  "file": 1, 
  "format": 1
}{
  "port": 8112, 
  "enabled_plugins": [], 
  "pwd_sha1": "9d32c697ad126f4dff2e6ade45fee3fe33587cde", 
  "theme": "slate", 
  "show_sidebar": true, 
  "sidebar_show_zero": false, 
  "pkey": "ssl/daemon.pkey", 
  "https": false, 
  "sessions": {}, 
  "base": "/", 
  "pwd_salt": "ae719ff701e5ab47d36c154682b061ba48cb99f0", 
  "show_session_speed": true, 
  "first_login": false, 
  "sidebar_show_trackers": false, 
  "cert": "ssl/daemon.cert", 
  "session_timeout": 3600, 
  "default_daemon": "127.0.0.1:58846", 
  "sidebar_multiple_filters": true
}