<advancedsettings>

  <videodatabase>
    <type>mysql</type>
    <host>{{ dbhost }}</host>
    <name>xbmc_video_{{ item }}</name>
    <user>{{ xbmcuser }}</user>
    <pass>xbmc</pass>
  </videodatabase>

  <musicdatabase>
    <type>mysql</type>
    <host>{{ dbhost }}</host>
    <name>xbmc_music_{{ item }}</name>
    <user>{{ xbmcuser }}</user>
    <pass>xbmc</pass>
  </musicdatabase>
 
  <videolibrary>
    <importwatchedstate>true</importwatchedstate>
  </videolibrary>

  <video>
    <subsdelayrange>60</subsdelayrange>
  </video>
  
  <network>
    <disableipv6>true</disableipv6>
  </network>
  
  <enableairtunesdebuglog>1</enableairtunesdebuglog>
  
  <gputempcommand>echo "$(nvidia-settings -c :0 -tq GPUCoreTemp) C"</gputempcommand>
  <cputempcommand>sed -e 's/\([0-9]*\)[0-9]\{3\}.*/\1 C/' /sys/class/hwmon/hwmon1/temp1_input</cputempcommand>

</advancedsettings>
